*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	width: 390px;
	margin: auto auto;
	border: 3px solid #3350b9;
	border-radius: 10px;
	font-family: tahoma;
	box-shadow: 10px 10px 10px gray;
}

form{
	padding: 10px;
	width: 100%;
}

a{
	margin: 10px;
	font-size: 18px;
}

input, textarea{
	padding: 10px;
	margin: 15px;
	width: 90%;
	border: 2px solid #3350b9;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
	font-weight: bolder;
	transition: .3s;
}

textarea{
	text-align: left;
	font-size: 18px;
	resize: none;
}

input:focus, textarea:focus{
	outline: none;
	color: #fff;
	background: #3350b9;
	box-shadow: 10px 10px 10px gray;
}

input[type='submit']{
	cursor: pointer;
	background: #fff;
}

input[type='submit']:hover{
	box-shadow: 10px 10px 10px gray;
	background: #3350b9;
	color: #fff;
}

.telWrap{
	display: flex;
	align-items: center;
	width: 90%;
	margin: 15px;
	justify-content: flex-end;
}

.telWrap input{
	margin: 0px;
}

.telWrap::before{
	content: '+7';
	font-weight: bolder;
	margin-right: 10px;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent;
}

input::selection, textarea::selection{
	background-color: black;
}

label{
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
}

h1{
	margin-bottom: 10px;
	background: #3350b9;
	width: 100%;
	text-align: center;
	padding: 10px;
	color: #fff;
}

h2{
	margin-bottom: 30px;
	color: #3350b9;
	font-size: 32px;
}

.flex-col-cntr{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo{
	height: 200px;
}

.userLogo{
	height: 100px;
}

.newButton{
	width: 60px;
	height: 60px;
	justify-content: space-around;
	display: flex;
	align-items: center;
	background: #3350b9;
	color: #fff;
	text-decoration: none;
	border-radius: 50%;
	font-size: 48px;
	font-weight: bolder;
	transition: .3s;
}

.newButton:hover{
	box-shadow: 10px 10px 10px #32408e;
	background: #fff;
	color: #3350b9;
}

.newHead{
	font-weight: bolder;
	color: #fff;
}

.newWrap{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 30px;
	border-top: 2px solid #3350b9;
	border-bottom: 2px solid #3350b9;
	padding: 15px;
	background: #3350b9;
}

.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px;
	border-top: 2px solid #3350b9;
	border-bottom: 2px solid #3350b9;
}

.head div{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	justify-content: space-between;
}

.head p{
	font-weight: bolder;
	font-size: 14px;
}

.description{
	background: #3350b9;
	padding: 10px;
	margin: 0px 10px 0px 10px;
	color: #fff;
	transform: scale(0);
	transition: .5s;
}

.hide{
	display: none;
}

.request{
	margin-bottom: 15px;
	width: 100%;
}

.confirm{
	color: green;
}

.reject{
	color: red;
}

.new{
	color: gray;
}


.out{
	margin-top: 50px;
}

.showDesc::before, .hideDesc::before{
	font-size: 10px;
	cursor: pointer;
}

.showDesc::before{
	content: 'ПОКАЗАТЬ';
}

.hideDeck::before{
	content: 'СКРЫТЬ';
}
